* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , "Arial" , sans-serif;
}
.container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 19px;
}
.header {
    background-color: #F3D7B7;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 803px;
    padding-top: 23.29px;
}
.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
.header__list__link {
    text-decoration: none;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1s ease-in-out;
}
.header__list__link:hover {
    color: #cbff21;;
}
.section__1 {
    background-color: #f3d7b7;
}
.section__1__article {
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    padding-top: 130px;
}
.section__1__main__txt {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 47px;
    padding-bottom: 300px;
}
.section__1__main__image {
    position: absolute;
    top: 176px;
    right: 54px;
}
.section__1__quality__image {
    position: absolute;
    top: 73.29px;
    left: 638px;
    z-index: 1;
    animation-name: qw;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes qw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.section__2__wrapper {
    display: flex;
    justify-content: space-between;
}
.section__2__image {
    margin-top: 160px;
    margin-bottom: 216px;
}
.section__2__text__wrapper {
    margin-top: 160px;
}
.section__2__article {
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 64px;
}
.section__2__main__txt {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 216px;
}
.section__3 {
    background-color: #C99B67;
}
.section__3__article {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    padding-top: 68px;
    padding-bottom: 30px;
}
.section__3__main__txt {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 105px;
}
.section__3__image {
    position: absolute;
    width: 566px;
    height: 552px;
    left: 820px;
    right: 59.6px;
    top: 1297px;
    bottom: -720px;
}
footer {
    background-color: #F3D7B7;
}
.footer__part__1 {
    display: flex;
    align-items: center;
    gap: 254px;
}
.footer__wrapper {
    display: flex;
    align-items: center;
    height: 160px;
    gap: 331px;
}
.logos {
    display: flex;
    align-items: center;
    gap: 30px;
}
i {
    transition: 1s ease-in-out;
}
i:hover {
    transform: scale(1.5);
}
.logo {
    color: #000000;
}